server:
  port: 9901
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

milvus:
  host: localhost
  port: 19530
  username: ""
  password: ""
  database: default
  timeout: 10000

# 文档分片配置
document:
  chunk:
    max-size: 800  # 每个分片最大字符数
    overlap: 100   # 分片之间的重叠字符数

# 文件上传配置
file:
  upload:
    path: ./uploads
    allowed-extensions:
      - txt
      - md
      -
# RAG 配置
rag:
  recall:
    top-k: 50      # 召回数量
  rerank:
    top-k: 8      # 重排数量
    threshold: 0.4 # 分数阈值
  model: qwen3-rerank  # 模型

spring:
  application:
    name: zhiwei
  # Spring AI Alibaba DashScope 配置
  ai:
    dashscope:
      api-key: ${DASHSCOPE_API_KEY}  # 从环境变量读取或使用默认值
      chat:
        options:
          model: qwen3-max
          timeout: 180000  # 连接超时时间 3分钟
          temperature: 0.7       # 温度 控制模型回答的发散性和随机性
          top-p: 0.9             # 词汇广度 累计概率达到 90% 的词里选
          max-tokens: 2000       # 最长 token 大约能输出 1000 到 1500 个汉字 限制输出上限
          enableSearch: false    # 互联网搜索功能 默认 false
          memory:
            windows-size: 10     # 聊天记忆的长度
      embedding:
        options:
          model: text-embedding-v4
    retry:
      max-attempts: 3  # 最大重试次数
      backoff:
        initial-interval: 2000  # 初始重试间隔2秒
        multiplier: 2  # 重试间隔倍数
        max-interval: 10000  # 最大重试间隔10秒


tencent:
  cls:
    default-region: ap-chongqing  # 默认地域
    access-key: ${TENCENT_CLS_AK}
    secret-key: ${TENCENT_CLS_SK}
